trabalho-001/.~lock.75298-lab_cria_thread.doc#
.vscode/settings.json
trabalho-001/src/trabalho1
trabalho-002/src/trabalho2
*.o
exercicio-002/src/exercicio2
exercicio-003/src/exercicio3
exercicio-004/src/exercicio4
